html,
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
}

div {
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
